model:
  sh_degree: 3
  data_device: "cpu"
  white_background: False
  convert_SHs_python: False
  compute_cov3D_python: False
  eval: True

ground:
  n_sample: 10
  grid_len: 0.2
  min: -2
  range: 4

opt:
  position_lr_init: 0.00016
  position_lr_final: 1.6e-06
  position_lr_delay_mult: 0.01
  position_lr_max_steps: 30000
  feature_lr: 0.0025
  opacity_lr: 0.05
  scaling_lr: 0.001
  rotation_lr: 0.001
  semantic_lr: 0.01
  percent_dense: 0.001
  densification_interval: 100
  opacity_reset_interval: 3000
  densify_from_iter: 500
  densify_until_iter: 15000
  densify_grad_threshold: 0.0002

  lambda_dssim: 0.2
  lambda_smt: 1.0
  lambda_dist: 1.0

train:
  iterations: 30000
  checkpoint_iterations: [7000, 15000, 30000]